<% content_for(:page) { 'report' } %>

<h1><%= @report.type.titlecase %></h1>
<p>Created <%= @report.created_at %></p>

<table class="report-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Kit ID</th>
      <th>Attribute</th>
      <th>NBS</th>
      <th>OVRS</th>
    </tr>
  </thead>

  <tbody>
    <% @report.conflicts.each_with_index do |conflict, index| %>
      <% data = format_conflict(conflict) %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= conflict.id %></td>
        <% %i[field nbs ovrs].map do |method| %>
          <td><%= simple_format data.map { |x| x.send(method) }.join("\n") %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="5">
        <strong>
          <%= (@report.data['conflicts'] || []).length %> discrepancies detected
        </strong>
      </td>
    </tr>
  </tfoot>
</table>

<%= link_to 'Back', reports_path %>
<%= link_to 'Latest Report', latest_reports_path %>
