<h1><%= @report.type.titlecase %></h1>
<p>Created <%= @report.created_at %></p>

<table class="report-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Kit ID</th>
      <th>Attribute</th>
      <th>NBS</th>
      <th>OVRS</th>
    </tr>
  </thead>

  <tbody>
    <% @report.conflicts.each_with_index do |conflict, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= conflict.id %></td>
        <td><%= simple_format conflict.fields.reject { |x| x == 'id'}.map(&:titlecase).join("\n") %></td>
        <td><%= simple_format render_newborn_record(conflict.nbs, conflict.fields) %>
        <td><%= simple_format render_newborn_record(conflict.ovrs, conflict.fields) %>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="5">
        <strong>
          <%= (@report.data['conflicts'] || []).length %> discrepancies detected
        </strong>
      </td>
    </tr>
  </tfoot>
</table>

<%= link_to 'Back', reports_path %>
<%= link_to 'Latest Report', latest_reports_path %>
